
body {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #ffe1e2;
  margin: 0px;
}

p {
  color: #fd999d;
  font-size: 70px;
}

.menu {
  margin: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  border: none;
  background: none;
  color: #fd999d;
  font-size: 21px;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

button:focus {
  outline: 0;
}

#smaller_text {
  color: #fd999d;
  font-size: 35px;
}

#title {
  margin-top: 150px;
}

.about_content {
  font-size: 26px;
  color: #fd999d;
  margin-top: 43px;
}

.left {
  width: 50%;
  height: 96.5vh;
  background-color: #fd999d;
  float: left;
}

.right {
  width: 50%;
  height: 96.5vh;
  background-color: #ffcdcf;
  float: right;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.box {
  background-color: #ffcdcf;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.boxes {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  position: relative;
}

.img {
  position: relative;
}

.img:hover, .content:hover {
  cursor: pointer;
}

.content {
  position: absolute;
  top: 100px;
  left: 87px;
  display: none;
}

.caption_under {
  margin-top: 10px;
}
